.starModal {
  :global(.ant-modal-content) {
    padding: 0;
    border-radius: 10px;
  }
}

.wrapper {
  position: relative;
  background-color: #0c0a04;
  border-radius: 10px;
}

.star {
  display: inline-block;
  // width: 340px;
  // height: 220px;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 10px;
}

.please {
  display: inline-block;
  width: 680px;
  height: 500px;
  padding-left: 200px;
  padding-top: 100px;
}

.closeIcon {
  font-size: 20px;
  color: white;
}
